<!DOCTYPE html>
<html>
	<head>
		<title>Course</title>
</head>
<body>

<h1>This Course</h1>
<p>This course was database. We learned to use sql for creating databases. We also learned how to apply those databases into use on a live server.</p>

</body>
</html>